.filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sort {
    border: 1px solid var(--main-gray);
    box-shadow: 0 0 3px 1px var(--main-gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
}

.sort .title {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid var(--main-gray);
    cursor: pointer;
}

.sort .selection {
    padding: 10px 14px;
    display: none;
}

.sort .selection p {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 0.95rem;
}

.sort .selection select {
    padding: 10px 1px;
    border-radius: 8px;
    background-color: var(--white);
    font-size: 0.95rem;
}

.sort .selection select:focus {
    outline: 1px solid var(--blue);
    border: none;
}

.search-button {
    width: 100%;
    background-color: var(--main-gray);
    border-radius: 15px;
    border: none;
    height: 35px;
    color: var(--darker-gray);
    cursor: pointer;
    font-size: 1.05rem;
}

.big-button {
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: none;
    z-index: 1;
    left: 0;
    font-size: 1.05rem;
    display: none;
    cursor: pointer;
}

.button-active {
    background-color: var(--blue);
    color: var(--white);
}