header {
    width: 100%;
    background-color: var(--main-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    text-align: center;
}

.nav-content {
    max-width: 1400px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

header a {
    cursor: pointer;
}

.main-nav img {
    width: 154px;
    height: 20px;
    margin-right: 35px;
}

.secondary-nav img {
    width: 30px;
    height: 43px;
}

.main-nav,
.secondary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul,
.secondary-nav ul {
    color: var(--white);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.language {
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}