* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-theme: rgb(3, 37, 65);
    --white: rgb(255, 255, 255);
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
}